/*
UI komponenta: Polaroid fotka
=============================
*/


/*
Seznam fotek
------------
*/

.polaroids {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
Fotka
-----
*/

/*
### Zakladna
*/

.polaroid {
  float: left;
  width: 25%;
  height: 180px;
  padding: 10px 2.5%;
  margin: 0 2.5% 20px 0;
  background-color: white;
  color: darkgrey;
}

.polaroid a {
  color: #666;
  text-decoration: none;
}

/*
### Stav: aktivni
*/


.polaroid:hover,
.polaroid:focus,
.polaroid:active,
.polaroid--active {
  background-color: #fcf883;
  background-color: rgba(100%, 100%, 100%, 1);
  transform: scale(1.5);
}

.polaroid:hover .polaroid__head,
.polaroid:focus .polaroid__head,
.polaroid:active .polaroid__head,
.polaroid--active .polaroid__head {
  color: black;
}

/*
### Stav: vybrany v url
*/

.polaroid:target {
  background: yellow;
}

/*
Blok: hlavicka
*/

.polaroid__head {
  text-align: center;
  font: var(--fontSize) / var(--lineHeight) sans-serif;
  font-weight: normal;
}

