/*
UI komponenta: Polaroid fotka
=============================
*/


// Seznam fotek
// ------------

.polaroids {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


// Fotka
// -----

// ### Zakladna

.polaroid {
  text-align: center;
  background-color: white;
  color: darkgrey;

	a {
	  color: #666;
	  text-decoration: none;
	}
}

// ### Stav: aktivni

.polaroid {
  &:hover,
  &:focus,
  &:active,
  &--active {
    background-color: #fcf883;
    background-color: rgba(100%, 100%, 100%, 1);

    .polaroid__head {
      color: black;
    }
  }
}

// ### Stav: vybrany v url

.polaroid {
  &:target {
    background: yellow;
  }
}

// Blok: hlavicka

.polaroid__head {
  text-align: center;
  font: 1rem/1.33 sans-serif;
  font-weight: normal;
}

// Layout
// ------

// Reseni s Flexboxem

.polaroids {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.polaroid {
  box-sizing: border-box;
  padding: 1em;
  width: calc(50% - 1em);
  min-width: 10em;
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  .polaroid {
    width: calc(33.33% - 2*1em);
  }
}

// Reseni s Gridem

@supports (display: grid) {
  .polaroids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 1em;
  }

  .polaroid {
    // Reset flexboxu
    margin: 0;
    width: auto;
  }

  @media screen and (min-width: 600px) {
    .polaroids {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
