/*
HTML zakladna
=============
*/

/*
Zakladna
--------
*/

a img {
  border: 0;
}

body {
  font: var(--fontSize) / var(--lineHeight) sans-serif;
  background: #6d431f url('../../img/wood.png') repeat;
  color: #fff;
  margin: var(--fontSize) var(--fontSize) 0 var(--fontSize);
}

h1 {
  text-align: center;
  margin-bottom: calc(var(--fontSize) * 3);
  margin-top: 0;
}

p {
  padding: 0;
  margin-top: 0;
  margin-bottom: calc(var(--fontSize) * var(--lineHeight));
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #ccc;
}

table td,
table th {
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding:
    calc(var(--fontSize) * .5)
    calc(var(--fontSize) * .25)
    calc(var(--fontSize) * .5)
    0;
}

table th {
  color: #999;
}

a {
  color: var(--colorPrimary);
}
